<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90202137155-3viuimcd0qoa37uj53ejgrjn6r82d8mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90202137155-3viuimcd0qoa37uj53ejgrjn6r82d8mg</string>
	<key>API_KEY</key>
	<string>AIzaSyA_BYcVwg_s1IdTo3s6vuPxqMA8mZRPtaI</string>
	<key>GCM_SENDER_ID</key>
	<string>90202137155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-messenger-cloning</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messenger-cloning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90202137155:ios:d91f9ec0aa5995e6686af6</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-messenger-cloning-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>